In [1]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input" )
designation.send_keys('Data scientist')

In [5]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_req=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
    
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    experience=i.text
    experience_req.append(experience)

In [9]:
print(len(job_title), len(job_location), len(company_name), len(experience_req))

10 10 10 10

In [10]:
import pandas as pd
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Experience_Required':experience_req})
df

,Job_title,Job_location,Company_name,Experience_Required
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
4,Data Science Consultant,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",ZS Associates India Pvt Ltd,3-8 Yrs
5,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,3-7 Yrs
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs