In [1]:
#Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10jobs data.
!pip install selenium

Requirement already satisfied: selenium in c:\users\leena\anaconda\lib\site-packages (4.4.3)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\leena\anaconda\lib\site-packages)

Requirement already satisfied: certifi>=2021.10.8 in c:\users\leena\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\leena\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\leena\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\leena\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\leena\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\leena\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\leena\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\leena\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\leena\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input" )
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_req=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
    
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    experience=i.text
    experience_req.append(experience)

In [11]:
print(len(job_title), len(job_location), len(company_name), len(experience_req))

10 10 10 10

In [13]:
import pandas as pd
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Experience_Required':experience_req})
df

,Job_title,Job_location,Company_name,Experience_Required
0,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
1,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
2,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
3,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
4,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
5,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
6,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
8,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
9,Data Analyst,Bangalore/Bengaluru,Vola Finance,3-7 Yrs